# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#.env
apps/api-v1/.env
apps/api-v1/.dev.env
apps/api-v1/.local.env
apps/api-v2/.env
apps/api-v2/.dev.env
apps/api-v2/.local.env
apps/api-v3/.env
apps/api-v3/.dev.env
apps/api-v3/.local.env

#Docs
/docs

#migrations
apps/api-v1/src/migrations
.npmrc
.devcontainer
apps/api-v1/.env
